body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #39c26f;
    color: #333;
}

header {
    background: #008223;
    color: #ffffff;
    text-align: center;
    padding: 30px;
}

section {
    width: 80%;
    margin: 20px auto;
    background: #edf7a4;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h2 {
    color: #008223;
}

ul {
    line-height: 1.8;
}

footer {
    text-align: center;
    background: #008223;
    color: #feffff;
    padding: 15px;
    margin-top: 20px;
}